<!-- Footer -->
<footer class="page-footer font-small color  pt-4">

    <!-- Footer Elements -->
    <div class="container">
  
      <!--Grid row-->
      <div class="row">
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half ">
            <img src="https://addons-media.operacdn.com/media/CACHE/images/themes/55/46655/1.0-rev1/images/5386d5d2-a2e0-4fc0-9eda-ff2459a7e112/69c1298f408e761fadf0980097021004.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-2 mb-2 col-sm-2 col-6">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half ">
            <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/andromeda-galaxy-royalty-free-image-1585682435.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-2 mb-2 col-sm-2 col-6">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half ">
            <img src="https://gfx.antyradio.pl/var/antyradio/storage/images/news/rozowy-ksiezyc-gdzie-i-jak-ogladac-najbardziej-niezwykla-pelnie-ksiezyca-w-2020-roku-40316/11834979-1-pol-PL/Rozowy-Ksiezyc-Gdzie-i-jak-ogladac-najbardziej-niezwykla-pelnie-Ksiezyca-w-2020-roku_article.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://storage.googleapis.com/yk-cdn/photos/pdp/andrew-mccarthy/blood-moon.jpg" class="img-fluid"
            
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half ">
            <img src="https://dzienniknaukowy.pl/assets/media/w2246-0526.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-2 col-md-2 col-sm-2 col-6 mb-4">
  
          <!--Image-->
          <div class="view overlay z-depth-1-half">
            <img src="https://i.pinimg.com/474x/60/e0/f5/60e0f543503fab218c5a9f2cbda98bdd.jpg" class="img-fluid"
              alt="">
            <a href="">
              <div class="mask rgba-white-light"></div>
            </a>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </div>
    <!-- Footer Elements -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: Magdalena Krok
      
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->